:root {
  /* Colours */

  --main-color: #18687b;
  --dark-highlight: #0e343e;
  --highlight-color: #33a8c5;
  --dark-background-color: #6d8697;
  --light-background-color: #f1f7f5;
  --white-background-color: #ffff;
  --wrong-highlight-color: #a81955;

  /* Heights */

  --header-image-height--desktop: 150px;
  --header-image-height--mobile: 100px;
  --heading1-height--desktop: 1.8rem;
  --heading1-height--mobile: 1.5rem;
  --gap-height: 20px;
  --header-height: calc(
    var(--header-image-height--mobile) + var(--gap-height) + 1rem
  );
  --footer-menu-height: 5rem;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
  font-size: 1.2rem;
}

h1 {
  font-size: var(--heading1-height--mobile);
}

@media (min-width: 900px) {
  h1 {
    font-size: var(--heading1-height--desktop);
  }
}

body {
  background-color: #f1f7f5;
  transition: 0.8s;
}

.content-area {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin-top: calc(var(--header-height) + 1rem);
  margin-bottom: calc(var(--footer-menu-height) + 1rem);
}
