.header {
  background-color: var(--main-color);
  border-radius: 0 0 10px 10px;
  color: var(--light-background-color);
  padding: var(--gap-height);
  width: 100vw;
  box-shadow: 0 5px 5px var(--dark-background-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-height);
  height: var(--header-height);
}

.header img {
  background-color: var(--main-color);
  border-radius: 50%;
  box-shadow: 5px 5px var(--highlight-color);
  height: var(--header-image-height--mobile);
  padding: 25px;
}

@media (min-width: 900px) {
  .header {
    justify-content: center;
  }

  .header img {
    position: absolute;
    left: 15px;
    height: var(--header-image-height--desktop);
  }
}
