.card__profile-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.card__profile-card img {
  width: 40%;
  border-radius: 100%;
}

.card__profile-description {
  width: 90%;
}

.card__counters {
  display: flex;
  gap: 15px;
  list-style-type: none;
  padding: 0;
}

.card__counters li {
  background-color: var(--dark-background-color);
  color: var(--light-background-color);
  padding: 10px;
  border-radius: 10px;
}

.card__counters img {
  height: 1rem;
}

.card__counters a {
  text-decoration: none;
  color: var(--light-background-color);
}
